* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}

main {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.selected {
    background-color: dodgerblue;
}